---
import type { MarkdownHeading } from 'astro';
import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';
import Contributors from './Contributors.astro';

type Props = {
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const { currentPage, currentFile, headings, githubEditUrl } = Astro.props;

currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);

const homePage = currentPage === '/';
---

<nav class="sidebar-nav" aria-labelledby="grid-right">
	<div class="sidebar-nav-inner">
		{!homePage && <TableOfContents client:media="(min-width: 50em)" headings={headings} />}
		{!homePage && <Contributors path={currentFile} editHref={homePage ? null : githubEditUrl} />}
		<MoreMenu currentPage={currentPage} path={currentFile} />
	</div>
</nav>

<style>
	.sidebar-nav {
		width: 100%;
		position: sticky;
		top: 0;
	}

	.sidebar-nav-inner {
		height: 100%;
		padding: 0;
		padding-top: var(--doc-padding);
		overflow: auto;
	}
</style>
